
body {
  background-color: #f2f2f2;
  background: #F5F4EF url('../../images/bg-body.jpg');
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #3bc492;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
	background-color: #34495e;
	padding-top: 50px;
}

#headerwrap h1 {
	margin-top: 30px;
	color: white;
	font-size: 70px;
	
}

#headerwrap h3 {
	color: white;
	font-size: 30px;
}

#headerwrap h5 {
	color: white;
	font-weight: 700;
	text-align: left;
}

#headerwrap p {
	text-align: left;
	color: white
}

/* intro Wrap */


#abstract{
    padding-top: 50px;
    color: white;
    font-size: x-large;
    text-align: justify;
    text-indent: 50px;
    letter-spacing: 3px;
}

#map{
    padding-top:50px;
}

#mapid { 
    height: 180px; 
}

#type {
    border-top: #bdc3c7 solid 5px;
    color: white;
    
    font-size: large;
}
#properties{
    padding-top: 50px;
    text-align: justify;
    margin: auto;
}

#resources{
    padding-top: 50px;
}

#reverseResources{
    padding-top: 50px;
}

.string{
    display: inline;
}

.boolean{
    font-weight: 800;
}

.booleanFalse{
    color:red;
}
.booleanTrue{
    color:green;
}

.property{
    text-align: left;
    vertical-align: top;
}

#external {
	padding-top: 50px;
	padding-bottom: 50px;
}

#external .ac a{
	font-size: 20px;
}

/* Showcase Wrap */

#dumps {
	display: block;
	background-color: #34495e;
	padding-top: 50px;
	padding-bottom: 50px;
        color: white;
}

#dumps h3 {
    color: white;
    text-align: center;
}

#footerwrap {
	background-color: #2f2f2f;
	color: white;
	padding-top: 40px;
	padding-bottom: 60px;
	text-align: left;
}

#footerwrap h3 {
	font-size: 28px;
	color: white;
}

#footerwrap p {
	color: white;
	font-size: 18px;
}

/* Copyright Wrap */

#c {
	background: #222222;
	padding-top: 15px;
	text-align: center;
}

#c p {
	color: white
}

.carousel-image{
    max-height: 300px;
    margin:auto;
}

.modal-content{
    background-color:transparent;
}

button.close{
    color:white;
    opacity: 1;
}

.modal-header{
    border-bottom: none;
}

.dont-break-out {

  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

}

.fixedHeader-floating{
 padding-top: 50px;   
}